
<div layout="column" flex layout-fill ng-cloak>
    <md-toolbar md-scroll-shrink class="maintoolbar md-primary toolbar-fixed" layout="row" layout-align="space-between center">
        <div class="md-toolbar-tools grid_0">{{ "HEAD_TITLE_HOME" | translate }}</div>
    </md-toolbar>
    <md-progress-linear data-loading md-mode="indeterminate"></md-progress-linear>
</div>
<div layout="column" flex layout-fill ng-cloak class="content-margin" >
    <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash)" ></flash-message>
    <md-content  flex-sm md-theme="primary" >
        <section>
            <md-list  ng-cloak="" class="list">
                <md-subheader class="md-no-sticky">@todo edit {{todo.id}}</md-subheader>
                <md-button class="md-warn" href="#/" aria-label="back to @todos list ">
                    <md-tooltip md-direction="top">
                        back to @todos list 
                    </md-tooltip>
                    <i class="material-icons">&#xE14A;</i>                
                </md-button>
        </section>
    </md-content>
</div>


<div layout="column" ng-cloak="" class="inputdemoErrors" >

  <md-content layout-padding="">
    <form name="todoForm" ng-submit="submitForm()">

      <md-input-container class="md-block">
        <label>Title</label>
        <input md-maxlength="10" required="" md-no-asterisk="" name="title" ng-model="todo.title">
        <div ng-messages="todoForm.title.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Note</label>
        <input required="" name="note" ng-model="todo.note">
        <div ng-messages="todoForm.note.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
          <md-button type="submit" class="btn btn-raised" ng-disabled="todoForm.$invalid">
          Submit
          </md-button>
        
    </form>
  </md-content>

</div>

