<div layout="column" flex layout-fill ng-cloak>
    <md-toolbar md-scroll-shrink class="maintoolbar md-primary toolbar-fixed" layout="row" layout-align="space-between center">
        <div class="md-toolbar-tools grid_0">{{ "HEAD_TITLE_HOME" | translate }}</div>
    </md-toolbar>
    <md-progress-linear data-loading md-mode="indeterminate"></md-progress-linear>
</div>
<div layout="column" flex layout-fill ng-cloak class="content-margin" >
    <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash)" ></flash-message>
    <md-content  flex-sm md-theme="primary" >
        <section>
            <md-list  ng-cloak="" class="list">
                <md-subheader class="md-no-sticky">@list of @todos</md-subheader>
                <md-button class="md-warn" ng-click="addNew()" aria-label="Add new @todo">
                    <md-tooltip md-direction="top">
                        Add new @todo
                    </md-tooltip>
                    <i class="material-icons">&#xE05E;</i>
                </md-button>
                <hr/>
                <md-list-item ng-repeat="todo in todos" class="noright">
                    <p>{{ todo.id}}</p>
                    <p>{{ todo.title}}</p>
                    <p>{{ todo.note}}</p> 
                    <md-button class="md-warn" href="#/todo/{{todo.id}}" aria-label="preview">
                        <md-tooltip md-direction="top">
                            Preview
                        </md-tooltip>
                        <i class="material-icons">&#xE8A0;</i>                
                    </md-button>
                    <md-button class="md-warn" href="#/todo/{{todo.id}}/edit" aria-label="Edit">
                        <md-tooltip md-direction="top">
                            Edit
                        </md-tooltip>
                        <i class="material-icons">&#xE254;</i>
                    </md-button>
                    <md-button class="md-warn" ng-click="remove($event, todo.id, 'remove')" aria-label="Remove">
                        <md-tooltip md-direction="top">
                            Remove
                        </md-tooltip>
                        <i class="material-icons">&#xE872;</i>                   
                    </md-button>
                </md-list-item>
            </md-list>
        </section>
    </md-content>
</div>


